/*== updated 12/11 ==*/

@import '/css/ti8EnFont.css';

body {padding-top: 114px; background-color: #ffffff;}
.ti-width-10 {width: 10% !important;}
.ti-width-20 {width: 20%;}
.ti-width-30 {width: 30% !important;}
.ti-width-40 {width: 40% !important;}
.ti-width-50 {width: 50% !important;}
.ti-width-60 {width: 60% !important;}
.ti-width-70 {width: 70% !important;}
.ti-width-80 {width: 80% !important;}
.ti-width-90 {width: 90% !important;}
.ti-width-100 {width: 100% !important;}
.ti_blue_color {color: #4a8db8 !important;}
.ti_red_color {color: #ff0000 !important;}
.ti_black_color {color: #111 !important;}
.ti-hidden {overflow: hidden;}

/*==== make images responsive =====*/
.ti-content img, .ti-content-left img, .ti-content-right img {height:auto;}

/*==========HEADER=================================*/
/* NAV BAR*/
.navbar{position:fixed;margin-bottom:0!important;border-top:3px solid #ed1e26;}
.navbar-default{background-color:#fff;border-bottom:none;}
.navbar-toggle{border:none;border-radius:0;}
.ti-navbar-collapse{position:relative;overflow:hidden;max-height:100%;}
.tm-global-menu-mobile{border-left:1px solid;margin:0;padding:20px;}
.ti-mobile-menu{text-align:left;border-left:1px solid;margin:0;padding:10px;}
.ti-toggle-nav-selected{font-size:1.3em;line-height:1.9em;color:#000;margin:0;padding:0;}
.ti-global-desktop-links li{background:#fafafa;margin-right:10px!important;border:1px solid #dfdfdf;padding:10px 0!important;}
.ti-global-desktop-links a{padding-top:0!important;padding-bottom:0!important;line-height:8px!important;color:#333!important;font-size:11px;font-family: segoeui, Arial;}
.ti-global-desktop-links a:hover{color:#39c!important;}
.tm-global-menu-desktop{background:url(/media/web/ti8/tm_global_header_link_bg.gif) no-repeat;margin-left:12px!important;}
.tm-global-menu-desktop:hover{background-position:0 -8px;}
.ti-main-menu{clear:both;margin-top:17px!important;width:100%;display:table;}
.ti-main-menu li{margin-right:0!important;}
.ti-main-menu li a{border:1px solid #f4f4f4;text-shadow:none!important;}
.ti-main-menu li a:hover,.ti-main-menu li a:focus,.navbar-default .ti-main-menu>.open>a,.navbar-default .ti-main-menu>.open>a:hover,.navbar-default .ti-main-menu>.open>a:focus{color:#fff!important;background-color:#39c!important;border-color:#f4f4f4!important;}
.ti-main-menu >.active> a,.ti-main-menu >.active >a:hover,.ti-main-menu >.active >a:focus{background-color:#db3d44!important;color:#fff!important;border-color:#f4f4f4!important;}
.ti-main-menu .dropdown-menu{border-radius:0!important;-webkit-box-shadow:none!important;box-shadow:none!important;width:100%;padding:0!important;}
.ti-main-menu .dropdown-menu li a{text-align:center;border-top:none!important;font-size:15px;}
.ti-main-menu > li{display:table-cell;float:none!important;text-align:center;}
.ti-search-desktop-holder{right:0;top:17px;position:absolute!important;overflow:hidden;z-index:100000;}
.ti-search-desktop{position:relative!important;border:1px solid #f4f4f4;background-color:#fff;right:-372px;top:0;display:none;padding:6px 10px!important;}
.ti-search-desktop input{border:none!important;width:265px;}
#btnHSearch {padding:3px 10px;}
.ti-search-show,.ti-search-desktop-remove{cursor:pointer;}
.ti-global-nav{width:320px;position:fixed;right:0;top:0;z-index:100000;background-color:#2c3e50;height:100%;display:none;padding:22px 16px;}
.ti-global-nav-close{color:#fff;font-size:1.238em;}
.ti-global-nav-close:hover{color:#fff;text-decoration:none;}
.ti-global-nav-menu{margin-top:20px;}
.ti-global-nav-menu li a{background-color:#f7f7f7;color:#111;display:block;margin-bottom:10px;font-size:15px;padding:10px;}
.ti-global-nav-menu li a:hover{background-color:#eee;text-decoration:none;}
.ti-fixed-nav{position:fixed;border-top:none;padding-bottom:10px;}
.ti-fixed-nav .ti-main-menu{clear:none;}
.ti-fixed-top-brand{border:none!important;display:none;padding:0 5px 0 0 !important;}
.ti-mobile-menu:hover,.ti-fixed-top-brand:hover{background:none!important;}
.navHHO{height:/*75*/60px;}
.ballHHOlink{height: auto;width: 6%;border: 0!important;background-color: transparent!important;margin: 0px 25px;}

/*=========== MAIN ============*/
.ti-main{background-color:#f2f2f2!important;}
.ti-red-gradient-bg{background:url(/media/web/ti8/ti_red_bg_desktop.jpg) repeat-x;}
.ti-grey-gradient-bg{background:url(/media/web/ti8/ti_grey_bg_desktop.jpg) repeat-x;}
.ti-blue-gradient-bg{background:url(/media/web/ti8/ti_blue_bg_desktop.jpg) repeat-x;}
.ti-header{padding:50px 0 18px 90px;}
.ti-blue-img-mobile{background:url(/media/web/ti8/ti_blue_img_bg_mobile.jpg) right 0 no-repeat;}
.ti-red-img-mobile{background:url(/media/web/ti8/ti_red_img_bg_mobile_v2.jpg) right 0 no-repeat;}
.ti-grey-img-mobile{background:url(/media/web/ti8/ti_grey_img_bg_mobile.jpg) right 0 no-repeat;}
.ti-jp-mobile{background:url(/media/web/ti8/ti_red_img_bg_mobile.jpg) right 0 no-repeat;}
.ti-blue-img-bg{background:url(/media/web/ti8/ti_blue_img_bg.jpg) right no-repeat;}
.ti-grey-img-bg{background:url(/media/web/ti8/ti_grey_img_bg2.png) right no-repeat;}
.ti-solution-header{background:url(/media/web/ti8/ti_solution_header_bg.jpg) right no-repeat;}
.ti-header h1{font-size:30px;color:#fff!important;margin:0;}
.ti-header-desktop{padding:38px 60px;}
.ti-header-mobile{padding-bottom:20px;}
.ti-mobile-search{margin-top:20px;-webkit-box-shadow:none!important;box-shadow:none!important;}
.ti-content-sidebar{border:1px solid #e2e2e2;background-color:#fff;}
.ti-content{background-color:#fff;border:1px solid #e2e2e2;padding:20px 40px;}
.ti-content-left{border-right:1px solid #e2e2e2;padding:30px 20px 30px 40px;}
.ti-content-right ul{list-style-image:url(/media/web/ti8/ti_sidebar_list_img.png);}
.ti-content-right{padding:30px 40px 30px 20px;}
.ti-jp-sidebar h6{color:#111!important;}
.ti-accordion h4 a{color:#4a8db8!important;text-transform:uppercase;line-height:normal;}
.ti-accordion h4 a img{margin-top:-5px;}
.ti-expand-btn{color:#4a8db8!important;font-size:.745em;}
.ti-accordion-collapse-btn{width:15px;height:16px;display:block;background:transparent url(/media/web/ti8/ti_accordion_collapse_btn.png) 0 -16px no-repeat;}
.ti-accordion h4 > a.collapsed > .ti-accordion-collapse-btn{background:transparent url(/media/web/ti8/ti_accordion_collapse_btn.png) 0 0 no-repeat;}
.ti-accordion .panel,.ti-accordion .panel-heading{border-radius:0;border:none;-webkit-box-shadow:none;box-shadow:none;}
.ti-accordion .panel-default > .panel-heading{border-top:1px solid #d0cfcf;border-bottom:1px solid #d0cfcf;}
.ti-accordion h6{color:#4a8db8!important;font-size:1.505em;}
.ti-product-version{background-color:#f5f5f5;padding-top:10px;}
.ti-home-search-txt{width:70%!important;border-radius:0;}
.ti-home-search-btn{width:10%!important;border-radius:0;}
.ti-home-bottom-content{margin-top:20px;border-top:1px solid #e4e4e4;}
.ti-home-bottom-content-left{border-right:1px solid #e4e4e4;}
.ti-home-bottom-content-padding-left{padding-left:40px!important;}
.ti-jp-title{font-size:1.875em!important;color:#111!important;}
.ti-jp-search-txt{width:408px!important;border-radius:0;}
.ti-jp-search-btn{border-radius:0;width:65px!important;}
.ti_jp_title_question{border-top:1px solid #f2f2f2;background-color:#f3f3f3;}
.ti_list_arrow_icon{list-style-image:url(/media/web/ti8/ti_sidebar_list_img.png)!important;}
.ti_list_circle_icon{list-style-image:url(/media/web/ti8/ti-circle-icon-list.jpg)!important;}
.ti-jp-survey{border-top:1px solid;border-bottom:1px solid;margin-bottom:10px;border-color:#eee;padding:20px 0!important;}
.ti-jp-survey h6{font-size:20px;font-weight:700;}
.ti-accordion .panel,.ti-accordion .panel-heading+.panel-collapse .panel-body{border:none;}


/*Start Search Template*/
.ti-search-content{margin-left:-15px;}
.ti-search-text{width:100%;}
.ti-search-btn{width:60px;}
.ti-search-panel-group .panel {border:none;-webkit-box-shadow:none;box-shadow:none;border-bottom:1px solid #ddd;}
.ti-search-panel-group .panel-body {padding-left:0;}
.ti-search-panel-group .panel-default >.panel-heading{background:none; padding-left:0;}
.ti-search-panel-group .panel-title a{font-size:14px;color:#ED1C24;font-family:'Arial Bold', Arial;font-weight:700; letter-spacing:normal;}
.ti-search-panel-group .panel-title a:hover{text-decoration:none;}
.ti-search-panel-group .panel-heading {padding-right:0;}
.ti-search-panel-group .panel-heading {padding-top:0;}
.ti-search-panel-group .panel-heading + .panel-collapse > .panel-body{border-top:2px solid #ed1c24; padding-left:0; }
.ti-search-result-filter-desktop{margin-bottom:0;}
.ti-search-result-filter-desktop li{padding-bottom:11px;}
.ti-search-result-filter-desktop li a{font-size:13px;color:#333;font-weight:700;padding-left:18px;background:transparent url(/media/web/ti8/ti_search_en_consumer_icons_desktop.jpg) no-repeat;line-height:11px;}
.ti-search-result-filter-desktop li a:hover,.ti-search-result-filter-desktop li a.active{color:#ed1c24;text-decoration:none;}
.ti-search-result-filter-desktop li.ti-search-all-desktop a{background-position:0 0;}
.ti-search-result-filter-desktop li.ti-search-all-desktop a:hover,.ti-search-result-filter-desktop li.ti-search-all-desktop a.active{background-position:0 -16px;}
.ti-search-result-filter-desktop li.ti-search-knowledge-desktop a{background-position:0 -32px;}
.ti-search-result-filter-desktop li.ti-search-knowledge-desktop a:hover,.ti-search-result-filter-desktop li.ti-search-knowledge-desktop a.active{background-position:0 -48px;}
.ti-search-result-filter-desktop li.ti-search-community-desktop a{background-position:0 -64px;}
.ti-search-result-filter-desktop li.ti-search-community-desktop a:hover,.ti-search-result-filter-desktop li.ti-search-community-desktop a.active{background-position:0 -80px;}
.ti-search-result-filter-desktop li.ti-search-threat-desktop a{background-position:0 -96px;}
.ti-search-result-filter-desktop li.ti-search-threat-desktop a:hover,.ti-search-result-filter-desktop li.ti-search-threat-desktop a.active{background-position:0 -113px;}
.ti-search-result-title{font-weight:normal;font-size:20px;color:#333;font-family:Arial,Helvetica,sans-serif;}
.ti-search-result-title span{font-weight:700;}
.ti-search-result-control{margin-top:8px;margin-bottom:8px;}
.ti-search-result-control label{font-size:12px;font-weight:400;}
.ti-search-result-control select{border-radius:0;height:22px;padding:0;}
.ti-search-article-threat,.ti-search-article-community,.ti-search-article-kb{margin-top:16px;padding-bottom:16px;padding-left:32px;}
.ti-search-article-threat{background:transparent url(/media/web/ti8/ti_search_threat_img.jpg) no-repeat left 0;}
.ti-search-article-community{background:transparent url(/media/web/ti8/ti_search_community_img.jpg) no-repeat left 0;}
.ti-search-article-kb{background:transparent url(/media/web/ti8/ti_search_kb_img.jpg) no-repeat left 0;}
.ti-search-article-threat p,.ti-search-article-community p,.ti-search-article-kb p{margin:0;}
.ti-search-article-title{font-size:16px;color:#4A8DB8;line-height:20px;}
.ti-search-article-text{color:#333;text-align:left;line-height:normal;font-size:13px;}
.ti-search-type-text{color:#999;font-size:11px;line-height:20px;}
.ti-search-filter-mobile p{font-size:14px;color:#333;font-weight:700;}
.ti-search-filter-mobile select{border-radius:0;font-size:13px;height:28px;padding:2px;}
.ti-search-filter-mobile-type{width:100%;display:table;margin:10px auto;}
.ti-search-filter-mobile-type li{display:table-cell;}
.ti-search-filter-mobile-type li a{width:100%;text-align:center;background-color:#f8f8f8;padding:0;}
.ti-search-filter-mobile-type li a:hover{background-color:#fff;}
.ti-search-filter-mobile-type > li:first-child > a,.ti-search-filter-mobile-type > li:first-child > span{border-bottom-left-radius:0;border-top-left-radius:0;}
.ti-search-filter-mobile-type li.active a,.ti-search-filter-mobile-type li.active a:hover{background-color:#fff;border-color:#ddd;}
.ti-search-filter-mobile-type li a span{height:32px;display:block;background-image:url(/media/web/ti8/ti_search_mobile_type_bg.jpg);margin:0 auto;}
.ti-search-filter-mobile-all span{width:12px;}
.ti-search-filter-mobile-all:hover span,.ti-search-filter-mobile-type li.active a.ti-search-filter-mobile-all span{width:12px;background-position:-12px 0;}
.ti-search-filter-mobile-kb span{width:10px;background-position:-24px 0;}
.ti-search-filter-mobile-kb:hover span,.ti-search-filter-mobile-type li.active a.ti-search-filter-mobile-kb span{background-position:-34px 0;}
.ti-search-filter-mobile-community span{width:17px;background-position:-44px 0;}
.ti-search-filter-mobile-community:hover span,.ti-search-filter-mobile-type li.active a.ti-search-filter-mobile-community span{background-position:-61px 0;}
.ti-search-filter-mobile-threat span{width:15px;background-position:-78px 0;}
.ti-search-filter-mobile-threat:hover span,.ti-search-filter-mobile-type li.active a.ti-search-filter-mobile-threat span{background-position:-93px 0;}
.ti-search-sku-filter li,.ti-search-sku-filter a{font-family:'Arial Bold', Arial;font-size:14px;}
.ti-search-sku-filter li{color:#1E1E1E;border-bottom:1px solid #ddd;}
.ti-search-sku-filter li p{margin:0;padding:5px 8px;}
.ti-search-sku-filter a{font-size:13px;color:#777;line-height:20px;display:block;padding:8px!important;}
.ti-search-sku-filter a:hover{text-decoration:none;color:#ed1c24;background-color:#eee;}
#hSuggest{clear:both;padding-top:10px;}
#WithResult .search-bar {margin-top:.5em; margin-bottom:3em;}
.search_sidebar .lwi h6 {font-size:16px;}
/*End Search Template*/

/*==========FOOTER========================================*/
.ti-footer{background-color:#f2f2f2;padding:11px 30px; /*padding-left:10%; padding-right:10%;*/}
.ti-footer,.ti-footer a,.ti-footer-links-language select{font-size:.91em!important;color:#666!important;}
.ti-jp-footer{padding-bottom:30px;}
.ti-footer-links-language select{border-radius:0!important;}
.ti-jp-footer hr{border-top:1px solid #c3c3c3!important;}
.ti-jp-footer-btn-like{border:1px solid #ccc;border-radius:4px;padding:15px 0;}
.ti-jp-footer-list-inline{width:100%;display:table;}
.ti-jp-footer-list-inline li{display:table-cell;}

.ieDrop{
  /* For IE 8
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#cccccc')"; */
  /* For IE 5.5 - 7 
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#cccccc');*/
  zoom: 1;
  border-bottom/*\**/: 2px solid #e2e2e2\9!important;
  padding-bottom:15px\9!important;
}

/* Custom styles */
.lwi {padding-left:55px; line-height:1.5em; min-height:45px;} .lwi h6 {margin-bottom:8px; padding-top:3px;}
.lwi h6 strong {font-weight: normal;}
.icon247 {background:url(/media/web/ti8/icons/40x40/24-7-support.png) top left no-repeat;}
.iconAccountSubscribe {background:url(/media/web/ti8/icons/40x40/account-sub.png) top left no-repeat;}
.iconAccountManage {background:url(/media/web/ti8/icons/40x40/manage-tm-account.png) top left no-repeat;}
.iconActivateRegister {background:url(/media/web/ti8/icons/40x40/activate-register.png) top left no-repeat;}
.iconBlocking {background:url(/media/web/ti8/icons/40x40/blocking.png) top left no-repeat;}
.iconCommunity {background:url(/media/web/ti8/icons/40x40/community-icon.png) top left no-repeat;}
.iconErrors {background:url(/media/web/ti8/icons/40x40/errors.png) top left no-repeat;}
.iconErrorTroubleshoot {background:url(/media/web/ti8/icons/40x40/error-troubleshooting.png) top left no-repeat;}
.iconFeatureConfig {background:url(/media/web/ti8/icons/40x40/features-configuration.png) top left no-repeat;}
.iconFeatureNew {background:url(/media/web/ti8/icons/40x40/new-feature.png) top left no-repeat;}
.iconInstall {background:url(/media/web/ti8/icons/40x40/install-icon1.png) top left no-repeat;}
.iconInstallActivate {background:url(/media/web/ti8/icons/40x40/new-install-activate.png) top left no-repeat;}
.iconInstallAfter {background:url(/media/web/ti8/icons/40x40/after-install.png) top left no-repeat;}
.iconInstallBefore {background:url(/media/web/ti8/icons/40x40/before-install.png) top left no-repeat;}
.iconIssues {background:url(/media/web/ti8/icons/40x40/wrench.png) top left no-repeat;}
.iconLogoIos {background:url(/media/web/ti8/icons/40x40/ios-logo.png) top left no-repeat;}
.iconLogoMac {background:url(/media/web/ti8/icons/40x40/mac-logo.png) top left no-repeat;}
.iconLogoWindows {background:url(/media/web/ti8/icons/40x40/windows-logo.png) top left no-repeat;}
.iconLogoAndroid {background:url(/media/web/ti8/icons/40x40/android-logo.png) top left no-repeat;}
.iconResponse {background:url(/media/web/ti8/icons/40x40/vulnerability-response-icon.png) top left no-repeat;}
.iconParentalControl {background:url(/media/web/ti8/icons/40x40/parental-controls.png) top left no-repeat;}
.iconPassword {background:url(/media/web/ti8/icons/40x40/password.png) top left no-repeat;}
.iconPremiumService {background:url(/media/web/ti8/icons/40x40/premium-service.png) top left no-repeat;}
.iconProductDoc {background:url(/media/web/ti8/icons/40x40/prod-doc-icon.png) top left no-repeat;}
.iconProductDownload {background:url(/media/web/ti8/icons/40x40/download-tm.png) top left no-repeat;}
.iconProtection01 {background:url(/media/web/ti8/icons/40x40/protection-icon.png) top left no-repeat;}
.iconProtection02 {background:url(/media/web/ti8/icons/40x40/protection-icon-simple.png) top left no-repeat;}
.iconPurchaseBefore {background:url(/media/web/ti8/icons/40x40/before-purchasing-renewing.png) top left no-repeat;}
.iconPurchaseRenewal {background:url(/media/web/ti8/icons/40x40/purchase-renewal.png) top left no-repeat;}
.iconScan {background:url(/media/web/ti8/icons/40x40/scan.png) top left no-repeat;}
.iconShoppingCart {background:url(/media/web/ti8/icons/40x40/shoppingcart.png) top left no-repeat;}
.iconSupportContact {background:url(/media/web/ti8/icons/40x40/contact-support-custom.png) top left no-repeat;}
.iconSupportChat01 {background:url(/media/web/ti8/icons/40x40/support-chat-custom.png) top left no-repeat;}
.iconSupportChat02 {background:url(/media/web/ti8/icons/40x40/chat-support-custom.png) top left no-repeat;}
.iconSupportEmail {background:url(/media/web/ti8/icons/40x40/email-support-custom.png) top left no-repeat;}
.iconSupportProduct {background:url(/media/web/ti8/icons/40x40/prod-support-icon.png) top left no-repeat;}
.iconSupportPhone {background:url(/media/web/ti8/icons/40x40/phone-support-custom.png) top left no-repeat;}
.iconVersionFull {background:url(/media/web/ti8/icons/40x40/full-version.png) top left no-repeat;}
.iconVersionTrial {background:url(/media/web/ti8/icons/40x40/trial-version.png) top left no-repeat;}
.iconVersionUpgrade {background:url(/media/web/ti8/icons/40x40/upgrade-version.png) top left no-repeat;}
.iconTopicsCommon {background:url(/media/web/ti8/icons/40x40/generic-topics.png) top left no-repeat;}
.iconTopicsPopular {background:url(/media/web/ti8/icons/40x40/hot-popular-topics.png) top left no-repeat;}
.iconUpgrade {background:url(/media/web/ti8/icons/40x40/upgrade-icon1.png) top left no-repeat;}
.iconUpgradeAfter {background:url(/media/web/ti8/icons/40x40/after-upgrading.png) top left no-repeat;}
.iconUpgradeBefore {background:url(/media/web/ti8/icons/40x40/before-upgrading.png) top left no-repeat;}
.iconVirusThreat {background:url(/media/web/ti8/icons/40x40/virus-threat-icon.png) top left no-repeat;}
.iconTrendRescueDisk {background:url(/media/web/ti8/icons/40x40/tm-rescuedisk.png) top left no-repeat;}
.iconTrendAntiThreat {background:url(/media/web/ti8/icons/40x40/tm-attk.png) top left no-repeat;}
.iconPremiumServices {background:url(/media/web/ti8/icons/40x40/Premium_Services.png) top left no-repeat;}
.iconTrendRootkitBuster {background:url(/media/web/ti8/icons/40x40/tm-rootkitbuster.png) top left no-repeat;}
.iconTrendHouseCall {background:url(/media/web/ti8/icons/40x40/tm-housecall.png) top left no-repeat;}
.iconTrendSafeSurfing {background:url(/media/web/ti8/icons/40x40/tm-safusurfing.png) top left no-repeat;}
.iconTrendSecurityCenter {background:url(/media/web/ti8/icons/40x40/tm-security-center.png) top left no-repeat;}

.iconControls {background:url(/media/web/ti8/icons/40x40/controls.png) top left no-repeat;}
.iconLogoDell {background:url(/media/web/ti8/icons/40x40/dell-logo.png) top left no-repeat;}
.iconInternet {background:url(/media/web/ti8/icons/40x40/internet.png) top left no-repeat;}
.iconVirusMalware {background:url(/media/web/ti8/icons/40x40/malware.png) top left no-repeat;}
.iconOtherDevices {background:url(/media/web/ti8/icons/40x40/other-devices.png) top left no-repeat;}
.iconPrivacy {background:url(/media/web/ti8/icons/40x40/privacy.png) top left no-repeat;}
.iconProductLegacy01 {background:url(/media/web/ti8/icons/40x40/prod-legacy-a.png) top left no-repeat;}
.iconProductLegacy02 {background:url(/media/web/ti8/icons/40x40/prod-legacy-b.png) top left no-repeat;}
.iconSettings {background:url(/media/web/ti8/icons/40x40/settings.png) top left no-repeat;}
.iconSupportEndOfLife {background:url(/media/web/ti8/icons/40x40/support-end-of-life.png) top left no-repeat;}

/* Smaller LWI */
.smlwi {padding-left:35px; line-height:1.5em; min-height:25px; display:inline-block;} 
.smlwi h6 {font-weight:bold; font-size: 16px!important; margin-top:5px; padding-top:0px; margin-bottom:5px;}
.smIcon247 {background:url(/media/web/ti8/icons/25x25/sm-24-7-support.png) top left no-repeat;}
.smIconAccountSubscribe {background:url(/media/web/ti8/icons/25x25/sm-account-sub.png) top left no-repeat;}
.smIconAccountManage {background:url(/media/web/ti8/icons/25x25/sm-manage-tm-account.png) top left no-repeat;}
.smIconActivateRegister {background:url(/media/web/ti8/icons/25x25/sm-activate-register.png) top left no-repeat;}
.smIconBlocking {background:url(/media/web/ti8/icons/25x25/sm-blocking.png) top left no-repeat;}
.smIconCommunity {background:url(/media/web/ti8/icons/25x25/sm-community-icon.png) top left no-repeat;}
.smIconErrors {background:url(/media/web/ti8/icons/25x25/sm-errors.png) top left no-repeat;}
.smIconErrorTroubleshoot {background:url(/media/web/ti8/icons/25x25/sm-error-troubleshooting.png) top left no-repeat;}
.smIconFeatureConfig {background:url(/media/web/ti8/icons/25x25/sm-features-configuration.png) top left no-repeat;}
.smIconFeatureNew {background:url(/media/web/ti8/icons/25x25/sm-new-feature.png) top left no-repeat;}
.smIconInstall {background:url(/media/web/ti8/icons/25x25/sm-install-icon1.png) top left no-repeat;}
.smIconInstallActivate {background:url(/media/web/ti8/icons/25x25/sm-new-install-activate.png) top left no-repeat;}
.smIconInstallAfter {background:url(/media/web/ti8/icons/25x25/sm-after-install.png) top left no-repeat;}
.smIconInstallBefore {background:url(/media/web/ti8/icons/25x25/sm-before-install.png) top left no-repeat;}
.smIconIssues {background:url(/media/web/ti8/icons/25x25/sm-wrench.png) top left no-repeat;}
.smIconLogoIos {background:url(/media/web/ti8/icons/25x25/sm-ios-logo.png) top left no-repeat;}
.smIconLogoMac {background:url(/media/web/ti8/icons/25x25/sm-mac-logo.png) top left no-repeat;}
.smIconLogoWindows {background:url(/media/web/ti8/icons/25x25/sm-windows-logo.png) top left no-repeat;}
.smIconLogoAndroid {background:url(/media/web/ti8/icons/25x25/sm-android-logo.png) top left no-repeat;}
.smIconResponse {background:url(/media/web/ti8/icons/25x25/sm-vulnerability-response-icon.png) top left no-repeat;}
.smIconParentalControl {background:url(/media/web/ti8/icons/25x25/sm-parental-controls.png) top left no-repeat;}
.smIconPassword {background:url(/media/web/ti8/icons/25x25/sm-password.png) top left no-repeat;}
.smIconPremiumService {background:url(/media/web/ti8/icons/25x25/sm-premium-service.png) top left no-repeat;}
.smIconProductDoc {background:url(/media/web/ti8/icons/25x25/sm-prod-doc-icon.png) top left no-repeat;}
.smIconProductDownload {background:url(/media/web/ti8/icons/25x25/sm-download-tm.png) top left no-repeat;}
.smIconProtection01 {background:url(/media/web/ti8/icons/25x25/sm-protection-icon.png) top left no-repeat;}
.smIconProtection02 {background:url(/media/web/ti8/icons/25x25/sm-protection-icon-simple.png) top left no-repeat;}
.smIconPurchaseBefore {background:url(/media/web/ti8/icons/25x25/sm-before-purchasing-renewing.png) top left no-repeat;}
.smIconPurchaseRenewal {background:url(/media/web/ti8/icons/25x25/sm-purchase-renewal.png) top left no-repeat;}
.smIconScan {background:url(/media/web/ti8/icons/25x25/sm-scan.png) top left no-repeat;}
.smIconShoppingCart {background:url(/media/web/ti8/icons/25x25/sm-shoppingcart.png) top left no-repeat;}
.smIconSupportContact {background:url(/media/web/ti8/icons/25x25/sm-contact-support-custom.png) top left no-repeat;}
.smIconSupportChat01 {background:url(/media/web/ti8/icons/25x25/sm-support-chat-custom.png) top left no-repeat;}
.smIconSupportChat02 {background:url(/media/web/ti8/icons/25x25/sm-chat-support-custom.png) top left no-repeat;}
.smIconSupportEmail {background:url(/media/web/ti8/icons/25x25/sm-email-support-custom.png) top left no-repeat;}
.smIconSupportProduct {background:url(/media/web/ti8/icons/25x25/sm-prod-support-icon.png) top left no-repeat;}
.smIconSupportPhone {background:url(/media/web/ti8/icons/25x25/sm-phone-support-custom.png) top left no-repeat;}
.smIconVersionFull {background:url(/media/web/ti8/icons/25x25/sm-full-version.png) top left no-repeat;}
.smIconVersionTrial {background:url(/media/web/ti8/icons/25x25/sm-trial-version.png) top left no-repeat;}
.smIconVersionUpgrade {background:url(/media/web/ti8/icons/25x25/sm-upgrade-version.png) top left no-repeat;}
.smIconTopicsCommon {background:url(/media/web/ti8/icons/25x25/sm-generic-topics.png) top left no-repeat;}
.smIconTopicsPopular {background:url(/media/web/ti8/icons/25x25/sm-hot-popular-topics.png) top left no-repeat;}
.smIconUpgrade {background:url(/media/web/ti8/icons/25x25/sm-upgrade-icon1.png) top left no-repeat;}
.smIconUpgradeAfter {background:url(/media/web/ti8/icons/25x25/sm-after-upgrading.png) top left no-repeat;}
.smIconUpgradeBefore {background:url(/media/web/ti8/icons/25x25/sm-before-upgrading.png) top left no-repeat;}
.smIconTrendVirusThreat {background:url(/media/web/ti8/icons/25x25/sm-virus-threat-icon.png) top left no-repeat;}
.smIconTrendRescueDisk {background:url(/media/web/ti8/icons/25x25/sm-tm-rescuedisk.png) top left no-repeat;}
.smIconTrendAntiThreat {background:url(/media/web/ti8/icons/25x25/sm-tm-attk.png) top left no-repeat;}
.smIconPremiumServices {background:url(/media/web/ti8/icons/25x25/sm-premium-service.png) top left no-repeat;}
.smIconTrendRootkitBuster {background:url(/media/web/ti8/icons/25x25/sm-tm-rootkitbuster.png) top left no-repeat;}
.smIconTrendHouseCall {background:url(/media/web/ti8/icons/25x25/sm-tm-housecall.png) top left no-repeat;}
.smIconTrendSafeSurfing {background:url(/media/web/ti8/icons/25x25/tm-sm-safusurfing.png) top left no-repeat;}
.smIconTrendSecurityCenter {background:url(/media/web/ti8/icons/25x25/sm-tm-security-center.png) top left no-repeat;}

.smIconControls {background:url(/media/web/ti8/icons/25x25/sm-controls.png) top left no-repeat;}
.smIconLogoDell {background:url(/media/web/ti8/icons/25x25/sm-dell-logo.png) top left no-repeat;}
.smIconInternet {background:url(/media/web/ti8/icons/25x25/sm-internet.png) top left no-repeat;}
.smIconVirusMalware {background:url(/media/web/ti8/icons/25x25/sm-malware.png) top left no-repeat;}
.smIconOtherDevices {background:url(/media/web/ti8/icons/25x25/sm-other-devices.png) top left no-repeat;}
.smIconPrivacy {background:url(/media/web/ti8/icons/25x25/sm-privacy.png) top left no-repeat;}
.smIconProductLegacy01 {background:url(/media/web/ti8/icons/25x25/sm-prod-legacy-a.png) top left no-repeat;}
.smIconProductLegacy02 {background:url(/media/web/ti8/icons/25x25/sm-prod-legacy-b.png) top left no-repeat;}
.smIconSettings {background:url(/media/web/ti8/icons/25x25/sm-settings.png) top left no-repeat;}
.smIconSupportEndOfLife {background:url(/media/web/ti8/icons/25x25/sm-support-end-of-life.png) top left no-repeat;}

.sdSup, .addRes, .osdl, .list-divider {list-style-type:none; margin-left:0; padding-left:0;}
.sdSup li {border-bottom: dotted 1px #ccc;  vertical-align: bottom; padding:0;}
.list-divider li {border-bottom: dotted 1px #ccc;  vertical-align: bottom; margin:5px 0; padding-top:5px; padding-bottom:5px;}
.sdSup li a {background: url(/media/jp/all_media/solution_snippets/pqa_mark_a_red.gif) no-repeat scroll 3px 10px transparent; display: block; padding: 6px 2px 6px 19px;}
.sdSup.relProd li a {background: url(/media/jp/all_media/solution_snippets/pqa_mark_a_bk.gif) no-repeat scroll  4px 10px transparent; display: block; padding: 6px 2px 6px 19px;}
.sdSup li .active {color:#000000; font-weight:bold;}

.addRes li a {list-style-type: none; padding: 15px 10px 15px 55px; margin: 4px auto; border: 1px solid #ccc; border-radius: 5px; display: block;}
.sdSup li a:hover, .addRes li a:hover, .osdl li a:hover {background-color:#f2f2f2; text-decoration:none;}
.sdSup li .active:hover {background-color:white; cursor:default;}
.addRes li .dtm {background:url(/media/web/ti8/icons/40x40/download-tm.png)  8px center no-repeat;}
.addRes li .tma{background:url(/media/web/ti8/icons/40x40/manage-tm-account.png)  8px center no-repeat;}
.addRes li .tc {background:url(/media/web/ti8/icons/40x40/community-icon.png)  8px center no-repeat;}
.addRes li .cs {background:url(/media/web/ti8/icons/40x40/contact-support-custom.png)  8px center no-repeat;}

.osdl li a {margin:5px;  float: left; width: 45%; height: 100px; padding: 60px 10px 10px 10px; text-align: center; background-color: #f9f9f9; border: 1px solid #ccc; border-radius:5px;}
.osdl li a:hover {background:#eee url(/media/web/ti8/icons/40x40/download-tm.png) center 15px no-repeat;}
.osdl li .dlwin {background:#f9f9f9 url(/media/web/ti8/icons/40x40/windows-logo.png) center 15px no-repeat;}
.osdl li .dland {background:#f9f9f9 url(/media/web/ti8/icons/40x40/android-logo.png) center 15px no-repeat;}
.osdl li .dlios {background:#f9f9f9 url(/media/web/ti8/icons/40x40/ios-logo.png) center 15px no-repeat;}
.osdl li .dlmac {background:#f9f9f9 url(/media/web/ti8/icons/40x40/mac-logo.png) center 15px no-repeat;}

.get-experts {width: 100%; margin-top: 5em;margin-bottom: 0px; /*background-color: #dff0d8; border: 1px solid #d6e9c6; color: #3c763d; padding:1.5em;*/}
.get-experts .title {font:22px 'Interstate-Light'; color: #000; letter-spacing:-1px; margin-bottom: 15px; background:url(/media/web/ti8/icons/25x25/sm-premium-service.png) top left no-repeat; padding-left: 35px; height:25px;} .get-experts .title strong {font-weight:normal!important;}
.get-experts .regions {width:75%; padding-right: 15px; border-right: 1px solid #ddd; display:table; float:left;}
.get-experts .box {width: 30%; float:left;  padding: 1em 0; border:1px solid #fff;   border-radius:3px;   -webkit-border-radius: 3px;   -moz-border-radius: 3px; text-align:center !important;  margin:0 10px; }
.row.solution-block .get-experts .box img {border:0px;}
.get-experts .standard-support {margin:0 auto; margin-top:1em; width:25%; text-align:center;  float:left; padding-left:15px; }
.get-experts .free {margin:0 auto;border:1px solid #fff;   border-radius:3px;   padding: 1em 0; }
.get-experts .box:hover, .get-experts .free:hover {background-color:#fafafa; border:1px solid #ddd;}

.chat-availability {padding:0px; background-color: #d9edf7; border:1px solid #fff;}
.chat-availability li h6, .emea-number h6 {padding-top:0px; padding-left:0!important; margin-top:0!important; font-size:16px!important;}
.chat-availability ul {list-style-type:none; margin-left:0; padding-left:0; margin-bottom:0;}
.chat-availability li{border-bottom:1px solid #fff;  /*padding-left:55px;*/ font-size:14px; padding:15px;}
.chat-availability li img{margin-bottom:5px; margin-left:5px; display:inline;}
.chat-availability .phone:before, .emea-number .phone:before {content:"\e182"; font-family:"Glyphicons Halflings"; color:#333; padding-right:5px; font-size:10px;}
.chat-availability .phone, .emea-number .phone {margin-top:3px;}
.chat-availability .time:before, .emea-number .time:before {content:"\e023"; font-family:"Glyphicons Halflings"; color:#333; padding-right:5px; font-size:10px;}
.emea-number {padding:10px 15px; } 
.emea-number.ae {background:#d9edf7 url(/media/web/ti8/flags/round/ae.png) 95% 15% no-repeat}
.emea-number.at {background:#d9edf7 url(/media/web/ti8/flags/round/at.png) 95% 15% no-repeat}
.emea-number.be {background:#d9edf7 url(/media/web/ti8/flags/round/be.png) 95% 15% no-repeat}
.emea-number.bg {background:#d9edf7 url(/media/web/ti8/flags/round/bg.png) 95% 15% no-repeat}
.emea-number.bg {background:#d9edf7 url(/media/web/ti8/flags/round/bg.png) 95% 15% no-repeat}
.emea-number.bh {background:#d9edf7 url(/media/web/ti8/flags/round/bh.png) 95% 15% no-repeat}
.emea-number.ch {background:#d9edf7 url(/media/web/ti8/flags/round/ch.png) 95% 15% no-repeat}
.emea-number.cy {background:#d9edf7 url(/media/web/ti8/flags/round/cy.png) 95% 15% no-repeat}
.emea-number.cz {background:#d9edf7 url(/media/web/ti8/flags/round/cz.png) 95% 15% no-repeat}
.emea-number.de {background:#d9edf7 url(/media/web/ti8/flags/round/de.png) 95% 15% no-repeat}
.emea-number.dk {background:#d9edf7 url(/media/web/ti8/flags/round/dk.png) 95% 15% no-repeat}
.emea-number.ee {background:#d9edf7 url(/media/web/ti8/flags/round/ee.png) 95% 15% no-repeat}
.emea-number.es {background:#d9edf7 url(/media/web/ti8/flags/round/es.png) 95% 15% no-repeat}
.emea-number.fi {background:#d9edf7 url(/media/web/ti8/flags/round/fi.png) 95% 15% no-repeat}
.emea-number.fr {background:#d9edf7 url(/media/web/ti8/flags/round/fr.png) 95% 15% no-repeat}
.emea-number.gr {background:#d9edf7 url(/media/web/ti8/flags/round/gr.png) 95% 15% no-repeat}
.emea-number.hu {background:#d9edf7 url(/media/web/ti8/flags/round/hu.png) 95% 15% no-repeat}
.emea-number.ie {background:#d9edf7 url(/media/web/ti8/flags/round/ie.png) 95% 15% no-repeat}
.emea-number.il {background:#d9edf7 url(/media/web/ti8/flags/round/il.png) 95% 15% no-repeat}
.emea-number.it {background:#d9edf7 url(/media/web/ti8/flags/round/it.png) 95% 15% no-repeat}
.emea-number.lu {background:#d9edf7 url(/media/web/ti8/flags/round/lu.png) 95% 15% no-repeat}
.emea-number.lv {background:#d9edf7 url(/media/web/ti8/flags/round/lv.png) 95% 15% no-repeat}
.emea-number.nl {background:#d9edf7 url(/media/web/ti8/flags/round/nl.png) 95% 15% no-repeat}
.emea-number.no {background:#d9edf7 url(/media/web/ti8/flags/round/no.png) 95% 15% no-repeat}
.emea-number.pl {background:#d9edf7 url(/media/web/ti8/flags/round/pl.png) 95% 15% no-repeat}
.emea-number.pt {background:#d9edf7 url(/media/web/ti8/flags/round/pt.png) 95% 15% no-repeat}
.emea-number.ro {background:#d9edf7 url(/media/web/ti8/flags/round/ro.png) 95% 15% no-repeat}
.emea-number.ru {background:#d9edf7 url(/media/web/ti8/flags/round/ru.png) 95% 15% no-repeat}
.emea-number.sa {background:#d9edf7 url(/media/web/ti8/flags/round/sa.png) 95% 15% no-repeat}
.emea-number.se {background:#d9edf7 url(/media/web/ti8/flags/round/se.png) 95% 15% no-repeat}
.emea-number.si {background:#d9edf7 url(/media/web/ti8/flags/round/si.png) 95% 15% no-repeat}
.emea-number.tr {background:#d9edf7 url(/media/web/ti8/flags/round/tr.png) 95% 15% no-repeat}
.emea-number.uk {background:#d9edf7 url(/media/web/ti8/flags/round/uk.png) 95% 15% no-repeat}
.emea-number.za {background:#d9edf7 url(/media/web/ti8/flags/round/za.png) 95% 15% no-repeat}

div#rssfeed-wrap {display:block!important;}


.BoxFaq {background: #F2F2F2 url(/media/web/ti8/icons/bg_faq.png) left top no-repeat;}
.BoxBp {background: #F2F2F2 url(/media/web/ti8/icons/bg_bp.png) left top no-repeat;}
.BoxBp, .BoxFaq {width: 100%; padding: 10px 10px 10px 30px;}
.BoxFaq h6, .BoxBp h6 {font-weight:bold;}

.show-in-emea, .show-in-anz {display:none;}

.btn-all-prod {position:relative; top:-38px;}
.biz-redirect {padding:25px;}


/* Premium Services Page */
.premium .col-md-3, .premium .col-md-4 {padding-right:0;}
.tab-content.premium {padding:60px 20px 20px 10px; margin-top:-40px; border:1px solid #ddd; border-top:none;}
.premium .panel {border-radius:0px; border:0; background:#f2f2f2;}
.premium .panel-body p {font-size:12px;}
.premium .panel-body, .premium .panel-footer {margin-bottom:0!important;}
.premium .panel-body h6 {font-family:Arial, Helvetica, sans-serif; letter-spacing:0!important; font-size:18px!important; line-height:110%; color:#333;}
.premium .panel-footer {padding-top:15px; padding-bottom:15px;}
.premium .pricing {font-size:18px; font-weight:bold; color:#000;}
.premium .service-count {display:block; font-size:11px; color:#222;}
.premium .steps {text-align:center; margin:1em 0;}
.premium .steps img {display:block; margin:0 auto; padding-right:10px;}
.premium .steps li {text-align: center; font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#222;}
.premium .steps li.arrow:after {font-family:"Glyphicons Halflings"; font-size:16px; color:#666; content:"\e080"; padding:.5em; vertical-align:center;}
.premium .show-in-anz .service-count {display:inline;} 
.premium .show-in-anz .block {margin-top:3px;}
.premium.nav-tabs.nav-justified>li>a, .premium.nav-tabs.nav-justified>.active>a {font-size:14px; margin-top:5px; margin-bottom:5px;}
.premium.nav-tabs.nav-justified>li>a img, .premium.nav-tabs.nav-justified>.active>a img {padding-bottom:1px; padding-right:5px;}


/* Feedback popover */

.ti-footer .copyright {margin-top:1em;}
#feedback-button {float:right;}
#feedback-button .popover {width:320px; text-align:left; border-radius:0px; padding:.8em;}

#feedback-button .popover-title {
  background:none;
  background:url(/media/13328275/footer-feedback.png) 12px 8px no-repeat;
  padding-left:40px; border:none;
  font-size:18px; margin:10px 0 0 0;
}

#feedback-button .btn-link {
   background:url(/media/13328275/footer-feedback.png) center left no-repeat;
   padding-left:25px; color:#666; 
   font-size:.91em; margin-top:-5px; outline:none;
}

#feedback-button .popover a {color:#fff!important;}
#feedback-button .popover a, #feedback-button .popover button {font-size:12px;}
#feedback-button .popover p {color:#000; font-size:13px; margin-top:0!important; padding:0px;}
#feedback-button button.close {margin-right:10px;  font-size:21px;}

/*==========MEDIA QUERIES=================================*/

/*Extra small devices Phones (<768px)*/
@media (max-width: 767px) {
body{padding-top:59px;}
.navbar{position:fixed;min-height: inherit!important;}
.navbar-brand{margin-top:-5px;}
.navbar-header{box-shadow:0 1px 4px #ccc;-webkit-box-shadow:0 1px 4px #ccc;}
.ti-grey-gradient-bg{background:url(/media/web/ti8/ti_home_bg_mobile_grey.jpg) repeat-x;}
.ti-blue-gradient-bg{background:url(/media/web/ti8/ti_blue_bg_mobile.jpg) repeat-x;}
.ti-red-gradient-bg,.ti-jp{background:url(/media/web/ti8/ti_home_bg_mobile_v2.jpg) repeat-x;}
.ti-main-menu{margin-top:0!important;width:inherit;display:block;}
.ti-main-menu > li{display:block;text-align:left;}
.ti-header{padding:16px 0 5px;}
.ti-header h1{font-size:2.8em;text-align:center;}
.ti-content{padding:20px 40px;}
.ti-content-left{border-right:0!important;}
.ti-content-left,.ti-content-right{float:inherit;display:block;vertical-align:inherit;}
.ti-grey-img-bg,.ti-blue-img-bg,.ti-solution-header{background:none;}
.ti-search-article-threat,.ti-search-article-community,.ti-search-article-kb{border-bottom:1px solid #e4e4e4;}
.ti-search-pagination{width:100%;display:table;}
.ti-search-pagination li{display:table-cell;}
.ti-search-pagination li a{width:100%;}
.navHHO{height: auto;}
.section-title, .section-title .lwi {line-height:1em;}

.lwi {padding-left:0; line-height:1.5em; min-height:25px;} .lwi h6 {margin-bottom:10px; padding-left:0; } 
.lwi h6:first-child, .section-title .lwi, ul .lwi {padding-top:1px; padding-left:35px;} .lwi strong {font-weight:normal!important;}
.icon247 {background:url(/media/web/ti8/icons/25x25/sm-24-7-support.png) top left no-repeat;}
.iconAccountSubscribe {background:url(/media/web/ti8/icons/25x25/sm-account-sub.png) top left no-repeat;}
.iconAccountManage {background:url(/media/web/ti8/icons/25x25/sm-manage-tm-account.png) top left no-repeat;}
.iconActivateRegister {background:url(/media/web/ti8/icons/25x25/sm-activate-register.png) top left no-repeat;}
.iconBlocking {background:url(/media/web/ti8/icons/25x25/sm-blocking.png) top left no-repeat;}
.iconCommunity {background:url(/media/web/ti8/icons/25x25/sm-community-icon.png) top left no-repeat;}
.iconControls {background:url(/media/web/ti8/icons/25x25/sm-controls.png) top left no-repeat;}
.iconErrors {background:url(/media/web/ti8/icons/25x25/sm-errors.png) top left no-repeat;}
.iconErrorTroubleshoot {background:url(/media/web/ti8/icons/25x25/sm-error-troubleshooting.png) top left no-repeat;}
.iconFeatureConfig {background:url(/media/web/ti8/icons/25x25/sm-features-configuration.png) top left no-repeat;}
.iconFeatureNew {background:url(/media/web/ti8/icons/25x25/sm-new-feature.png) top left no-repeat;}
.iconInstall {background:url(/media/web/ti8/icons/25x25/sm-install-icon1.png) top left no-repeat;}
.iconInstallActivate {background:url(/media/web/ti8/icons/25x25/sm-new-install-activate.png) top left no-repeat;}
.iconInstallAfter {background:url(/media/web/ti8/icons/25x25/sm-after-install.png) top left no-repeat;}
.iconInstallBefore {background:url(/media/web/ti8/icons/25x25/sm-before-install.png) top left no-repeat;}
.iconIssues {background:url(/media/web/ti8/icons/25x25/sm-wrench.png) top left no-repeat;}
.iconLogoIos {background:url(/media/web/ti8/icons/25x25/sm-ios-logo.png) top left no-repeat;}
.iconLogoMac {background:url(/media/web/ti8/icons/25x25/sm-mac-logo.png) top left no-repeat;}
.iconLogoWindows {background:url(/media/web/ti8/icons/25x25/sm-windows-logo.png) top left no-repeat;}
.iconLogoAndroid {background:url(/media/web/ti8/icons/25x25/sm-android-logo.png) top left no-repeat;}
.iconResponse {background:url(/media/web/ti8/icons/25x25/sm-vulnerability-response-icon.png) top left no-repeat;}
.iconParentalControl {background:url(/media/web/ti8/icons/25x25/sm-parental-controls.png) top left no-repeat;}
.iconPassword {background:url(/media/web/ti8/icons/25x25/sm-password.png) top left no-repeat;}
.iconPremiumService {background:url(/media/web/ti8/icons/25x25/sm-premium-service.png) top left no-repeat;}
.iconProductDoc {background:url(/media/web/ti8/icons/25x25/sm-prod-doc-icon.png) top left no-repeat;}
.iconProductDownload {background:url(/media/web/ti8/icons/25x25/sm-download-tm.png) top left no-repeat;}
.iconProtection01 {background:url(/media/web/ti8/icons/25x25/sm-protection-icon.png) top left no-repeat;}
.iconProtection02 {background:url(/media/web/ti8/icons/25x25/sm-protection-icon-simple.png) top left no-repeat;}
.iconPurchaseBefore {background:url(/media/web/ti8/icons/25x25/sm-before-purchasing-renewing.png) top left no-repeat;}
.iconPurchaseRenewal {background:url(/media/web/ti8/icons/25x25/sm-purchase-renewal.png) top left no-repeat;}
.iconScan {background:url(/media/web/ti8/icons/25x25/sm-scan.png) top left no-repeat;}
.iconShoppingCart {background:url(/media/web/ti8/icons/25x25/sm-shoppingcart.png) top left no-repeat;}
.iconSupportContact {background:url(/media/web/ti8/icons/25x25/sm-contact-support-custom.png) top left no-repeat;}
.iconSupportChat01 {background:url(/media/web/ti8/icons/25x25/sm-support-chat-custom.png) top left no-repeat;}
.iconSupportChat02 {background:url(/media/web/ti8/icons/25x25/sm-chat-support-custom.png) top left no-repeat;}
.iconSupportEmail {background:url(/media/web/ti8/icons/25x25/sm-email-support-custom.png) top left no-repeat;}
.iconSupportProduct {background:url(/media/web/ti8/icons/25x25/sm-prod-support-icon.png) top left no-repeat;}
.iconSupportPhone {background:url(/media/web/ti8/icons/25x25/sm-phone-support-custom.png) top left no-repeat;}
.iconVersionFull {background:url(/media/web/ti8/icons/25x25/sm-full-version.png) top left no-repeat;}
.iconVersionTrial {background:url(/media/web/ti8/icons/25x25/sm-trial-version.png) top left no-repeat;}
.iconVersionUpgrade {background:url(/media/web/ti8/icons/25x25/sm-upgrade-version.png) top left no-repeat;}
.iconTopicsCommon {background:url(/media/web/ti8/icons/25x25/sm-generic-topics.png) top left no-repeat;}
.iconTopicsPopular {background:url(/media/web/ti8/icons/25x25/sm-hot-popular-topics.png) top left no-repeat;}
.iconUpgrade {background:url(/media/web/ti8/icons/25x25/sm-upgrade-icon1.png) top left no-repeat;}
.iconUpgradeAfter {background:url(/media/web/ti8/icons/25x25/sm-after-upgrading.png) top left no-repeat;}
.iconUpgradeBefore {background:url(/media/web/ti8/icons/25x25/sm-before-upgrading.png) top left no-repeat;}
.iconVirusThreat {background:url(/media/web/ti8/icons/25x25/sm-virus-threat-icon.png) top left no-repeat;}
.iconTrendRescueDisk {background:url(/media/web/ti8/icons/25x25/sm-tm-rescuedisk.png) top left no-repeat;}
.iconTrendAntiThreat {background:url(/media/web/ti8/icons/25x25/sm-tm-attk.png) top left no-repeat;}
.iconPremiumServices {background:url(/media/web/ti8/icons/25x25/Premium_Services.png) top left no-repeat;}
.iconTrendRootkitBuster {background:url(/media/web/ti8/icons/25x25/sm-tm-rootkitbuster.png) top left no-repeat;}
.iconTrendHouseCall {background:url(/media/web/ti8/icons/25x25/sm-tm-housecall.png) top left no-repeat;}
.iconTrendSafeSurfing {background:url(/media/web/ti8/icons/25x25/tm-sm-safusurfing.png) top left no-repeat;}
.iconTrendSecurityCenter {background:url(/media/web/ti8/icons/25x25/sm-tm-security-center.png) top left no-repeat;}

.iconControls {background:url(/media/web/ti8/icons/25x25/sm-controls.png) top left no-repeat;}
.iconLogoDell {background:url(/media/web/ti8/icons/25x25/sm-dell-logo.png) top left no-repeat;}
.iconInternet {background:url(/media/web/ti8/icons/25x25/sm-internet.png) top left no-repeat;}
.iconVirusMalware {background:url(/media/web/ti8/icons/25x25/sm-malware.png) top left no-repeat;}
.iconOtherDevices {background:url(/media/web/ti8/icons/25x25/sm-other-devices.png) top left no-repeat;}
.iconPrivacy {background:url(/media/web/ti8/icons/25x25/sm-privacy.png) top left no-repeat;}
.iconProductLegacy01 {background:url(/media/web/ti8/icons/25x25/sm-prod-legacy-a.png) top left no-repeat;}
.iconProductLegacy02 {background:url(/media/web/ti8/icons/25x25/sm-prod-legacy-b.png) top left no-repeat;}
.iconSettings {background:url(/media/web/ti8/icons/25x25/sm-settings.png) top left no-repeat;}
.iconSupportEndOfLife {background:url(/media/web/ti8/icons/25x25/sm-support-end-of-life.png) top left no-repeat;}

.chat-availability {margin-left:0;}
.get-experts .regions {width:100%; border-right:none;}
.get-experts .standard-support, .get-experts .regions .box {width:100%!important; display:block;}
.get-experts .standard-support p:first-child {text-align:left; font:20px 'Interstate-Light'; color: #000;margin-bottom: 15px; background:url(/media/13248815/sm-prod-support-icon.png) top left no-repeat; padding-left: 35px; height:25px;}
.get-experts .title {font-size:18px; padding-top:5px; background:url(/media/web/ti8/icons/25x25/sm-premium-service.png) top left no-repeat;}

/* Premium Services Page */
.premium .col-md-3, .premium .col-md-4 {padding-right:0;}
.tab-content.premium, .tab-content.premium .col-xs-12 {padding-left:0; padding-right:0; border:0;}
.premium .panel {border-radius:0px; border:0; background:#f2f2f2; padding:5px 0 8px 0;}
.premium .panel-body p {font-size:12px;}
.premium .panel-body, .premium .panel-footer {margin-bottom:0!important;  padding:5px 15px;}
.premium .panel-footer {border-top:0; background:none;}
.premium .panel-body h6 {font-family:Arial, Helvetica, sans-serif; letter-spacing:0!important; font-size:18px!important; line-height:110%; color:#333; padding-left:30px; padding-top:3px;}
.premium.nav-tabs.nav-justified>li {float:left!important; width:100%!important;}
.premium.nav-tabs.nav-justified>li>a, .premium.nav-tabs.nav-justified>.active>a {font-size:16px; border-top:0; height:auto; background:none; border:none; padding:5px 0; margin:0; color:#428bca!important;}
.premium.nav-tabs.nav-justified>li>a:hover {border:0!important; color:#428bca!important; text-decoration:none;}
.premium.nav-tabs.nav-justified>.active>a, .premium.nav-tabs.nav-justified>.active>a:hover  {border-top:0!important; color:#ed1e26!important; cursor:pointer; text-decoration:none;}
.premium.nav-tabs.nav-justified>.active>a:before {content:"\e080"; font-family:'Glyphicons Halflings';  font-size:14px; padding-right:10px;}
.premium.nav-tabs.nav-justified>li>a img, .premium.nav-tabs.nav-justified>.active>a img {display:none;}
.premium h5 {font-size:24px;}
.premium .steps li {display:block;}
.premium .steps li.arrow:after {font-family: "Glyphicons Halflings";font-size: 16px;color: #666;content: "\e114";display: block;margin: .3em 0;}

#feedback-button {float:left;}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px)  {
.ti-name{font-size:1.723em;}
.ti-global-desktop-links{margin-top:0;position:relative;z-index:1000000000;}
.ti-blue-gradient-bg{background:url(/media/web/ti8/ti_blue_bg_mobile.jpg) repeat-x;}
.ti-grey-gradient-bg{background:url(/media/web/ti8/ti_home_bg_mobile_grey.jpg) repeat-x;}
.ti-red-gradient-bg,.ti-jp{background:url(/media/web/ti8/ti_home_bg_mobile_v2.jpg) repeat-x;}
.ti-grey-img-bg,.ti-blue-img-bg,.ti-solution-header,.ti-jp-header{background:none;}
.ti-main-menu li a{padding:.625em 12px!important;}
.ti-header{text-align:center;padding:24px 0 18px;}
.ti-five-column-block{width:100%;padding:10px;}
.ti-content-left{border-right:0!important;}
.ti-content-left,.ti-content-right{float:inherit;display:block;vertical-align:inherit;}
.ti-search-btn-holder{padding-top:10px;padding-bottom:10px;}
.navbar{padding-bottom:0;}
.ti-main-menu > li {height: 15px;}
.ti-ftEN {width: 750px; margin: 0 auto;}
.premium.nav-tabs.nav-justified>li>a, .premium.nav-tabs.nav-justified>.active>a {height: 65px;}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
 .ti-main-menu li a{padding:.625em 1.715em!important;}
.ti-blue-img-mobile,.ti-red-img-mobile, .ti-grey-img-mobile, .ti-jp-mobile{background:none;}
.ti-red-gradient-bg,.ti-jp{background:url(/media/web/ti8/ti_red_bg_desktop.jpg) repeat-x;}
.ti-blue-gradient-bg{background:url(/media/web/ti8/ti_blue_bg_desktop.jpg) repeat-x;}
.ti-grey-gradient-bg{background:url(/media/web/ti8/ti_grey_bg_desktop.jpg) repeat-x;}
.ti-blue-img-bg{background:url(/media/web/ti8/ti_blue_img_bg.jpg) right no-repeat;}
.ti-grey-img-bg{background:url(/media/web/ti8/ti_grey_img_bg2.png) right no-repeat;}
.ti-red-img-bg,.ti-jp-header{background:url(/media/web/ti8/ti_read_img_bg_v2.png) right no-repeat;}
.ti-jp-header{padding-top:27px!important;}
.ti-solution-header{background:url(/media/web/ti8/ti_solution_header_bg.jpg) right 0 no-repeat;}
.ti-header{height:135px;text-align:left;}
.ti-name{font-size:22px;}
.ti-global-desktop-links{margin-top:0;}
.ti-five-column-block{width:20%;float:left;padding:10px;}
.ti-content-left{border-right:1px solid #e2e2e2!important;}
.ti-content-left,.ti-content-right{float:none;display:table-cell;vertical-align:top;}
.ti-search-btn-holder{padding-top:0;padding-bottom:0;}
.ti-ftEN {width: 970px; margin: 0 auto;}
.premium .panel-body {height:200px;}
.premium .panel-body h6 {min-height:55px;}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
.ti-ftEN {width: 1100px; margin: 0 auto;}
.premium .panel-body h6 {min-height:46px;}
.premium .panel-body {height:180px;}
.premium.nav-tabs.nav-justified>li>a, .premium.nav-tabs.nav-justified>.active>a {height: auto;}
}

/* Small phones
@media (max-width: 480px) {
.tab-content.premium {padding-left:0; padding-right:0; border:0;}
.premium.nav-tabs.nav-justified>li {float:left!important; width:33.3%!important;}
.premium.nav-tabs.nav-justified>li>a, .premium.nav-tabs.nav-justified>.active>a {font-size:14px; padding:8px; margin-top:5px; margin-bottom:5px; height:100px; }
.premium.nav-tabs.nav-justified>.active>a {border-bottom:transparent;}
.premium.nav-tabs.nav-justified>li>a img, .premium.nav-tabs.nav-justified>.active>a img {display:none;}
} */

/* mozilla */
@-moz-document url-prefix() {
  .ti-fixed-top-brand {position: relative; top: -35px; }
.ballHHO{ top: 0!important; }
}





























/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
